# General
.ipynb_checkpoints
__pycache__
*.csv
*.mp4

# Video React component
# dependencies
/simple-interface/frontend/node_modules
/simple-interface/frontend/.pnp
.pnp.js

# testing
/simple-interface/frontend/coverage

# production
/simple-interface/frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Video server
/video-server/data

# Unity Lib
brainflow_svm.model
brainflow_svm.model.meta

# Unused libs
/component-template
